<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.group0562.adventureofpost">

    <application
        android:name=".AdventureOfPost"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".sudoku.ui.SudokuStartActivity" />
        <activity android:name=".trivia.ui.TriviaPauseActivity" />
        <activity
            android:name=".trivia.ui.TriviaSettingsActivity"
            android:label="@string/title_activity_trivia_settings" />
        <activity android:name=".trivia.ui.TriviaStartActivity" />
        <activity android:name=".trivia.ui.TriviaEndActivity" />
        <activity android:name=".shapeClicker.ui.ShapeClickerEndActivity" />
        <activity android:name=".auth.ui.RegisterActivity" />
        <activity
            android:name=".shapeClicker.ui.SCSettingActivity"
            android:label="@string/title_activity_scsettings" />
        <activity android:name=".GameActivity" />
        <activity android:name=".trivia.ui.TriviaActivity" />
        <activity android:name=".shapeClicker.ui.ShapeClickerActivity" />
        <activity android:name=".sudoku.ui.SudokuActivity" />
        <activity android:name=".auth.ui.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>